nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    display: inline;
    float: left;
}
li a {
    display: block;
    padding: 8px;
    background-color: #0e3bd0;
    color: white;
}
h1.title {
    text-align: center;
}